/*Hero section*/
.hero {


    height:100vh;
    max-height: 600px;
    display: flex;
    flex-direction: row;

}

@media (max-width: 1000px) {
    .hero {
        flex-direction: column;
    }
}

        /*-Left hero section*/
        .hero-left {
            flex: 1;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;

        }

                .hero-left-items {
                    width: 520px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin: 25px;
                }
                
                        .hero-title {
                            font-size: 83px;
                            letter-spacing: -3px;
                            font-weight: 600;
                            height: 80px;
                            margin: 0px;
                        }
                        
                        .hero-tagline {
                            font-size: 18px;
                        }

                        .hero-buttons {
                            display: flex;
                            justify-content: space-between;
                        }

                        @media (max-width: 768px) {
                            .hero-buttons {
                                gap: 15px;
                                display: flex;
                                flex-direction: column;
                            }

                            .hero-buttons button {
                                width: 100%;
                            }
                        }
        
        .hero-right  {
            flex: 1;
            overflow: hidden;
            position: relative;
            min-width: 520px;
        }

            .hero-right img {
                position: absolute;
                right: 0px;
                height: 101%;

            }

        @media (max-width: 1000px) {

            .hero-right  {
                margin: 0 auto;
            }
            .hero-right img {
                width: 100%;
                object-fit: cover;
                
            }

        }
/*SLUT Hero section*/

/*Section 2*/
.section2 {
    background-color: #f1f2f3;
    gap: 70px;
}

        .section2-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 15px;
            margin: 0 10px;
        }

                .vertical-line {
                    border-left: 1px solid rgba(0, 0, 0, 0.3);
                    margin: 0 70px;
                }

                .section2-container-box {
                    flex: 1;
                    margin: 30px 0;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
                        .section2-container-box h3 {
                            font-size: 60px;
                        }
    /* Responsive Section 2 */
    @media (max-width: 1000px) {

        .section2 {
            margin-top: 50px;
        }


        .section2-container {
            flex-direction: column; /* Stack the boxes vertically */
            margin-right: 120px;
        }

        .section2-container-box {
            margin: 30px 0;
            flex-direction: row;
            gap: 50px;
            align-items: center;
        }
                .section2-container-box h3 {
                    font-size: 110px;
                    font-weight: 500;
                }
                #first-number-section2 {
                    margin-right: 20px;
                }


        .vertical-line {
            display: none; /* Hide the vertical line on smaller screens */
        }

    }

/*SLUT Section 2*/

        /*Cards link*/
        .cards-link {
            color: #181818;
        }
        .cards-link:hover {
            text-decoration: none;
        }
        /*Slut Cards link*/

/*Blog Section 3*/

.blog-section {
    gap: 50px;
}

/*Article Cards Section 3*/    
.row-articlecards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

        .row-articlecards a {
            flex-basis: calc(33.333% - 20px); /* Allows 3 cards per row */
            display: flex;
            text-decoration: none;
        }

                .articlecards {
                    background-color: #F1F2F3;
                    height: 500px;
                    display: flex;
                    flex-direction: column;                  
                }

                        .articlecards-image {
                            max-height: 230px;
                            width: 100%;
                            overflow: hidden;
                        }

                                .articlecards-image img {
                                    object-fit: cover;
                                    width: 100%;
                                }

                        .articlecards-items {
                            margin: 10px 24px;
                            display: flex;
                            flex-direction: column;
                            gap: 22px;
                        }
                                .articlecards-span {
                                    color: #303030;
                                    font-size: 12px;
                                }
                                .articlecards-headline {
                                    font-size: 30px;
                                    line-height: 120%;
                                }
                                .articlecards-read {
                                    font-size: 18px;
                                    font-weight: 600;
                                }

/*Responsive article cards*/

@media (max-width: 1000px) {

    .row-articlecards {
        flex-direction: column;
    }

            .row-articlecards a {
                width: 100%;
            }

                    .articlecards {
                        flex-direction: row;
                        max-width: 100%;
                        max-height: 230px;
                    }

                            .articlecards-image {
                                max-height: 230px;
                                width: 100%;
                                overflow: hidden;
                                flex: 2;
                            }

                                    .articlecards-image img {
                                        object-fit: cover;
                                        height: 100%;
                                    }

                            .articlecards-items {
                                margin: 10px 24px;
                                gap: 5px;
                                flex: 3;
                            }

}

/*SLUT Article Cards Section 3*/

/*Category Cards Section 3*/


.row-categorycards {
        display: flex;
        gap: 20px;
        justify-content: space-between;
}

        .row-categorycards a {
            flex: 1;
        }

                .categorycards {
                    background-color: #F1F2F3;
                    padding: 25px;
                    display: flex;      
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 280px;
                }
                        
                        .categorycards-items {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                        }
                                .categorycards-items img {
                                    max-width: 100px;
                                    margin: auto;
                                }

                                .categorycards-items h3 {
                                    font-size: 23px;
                                }

/*Responsive article cards*/


@media (max-width: 1000px) {
    
    .row-categorycards {
        flex-wrap:wrap;
    }
    
            .row-categorycards a {
                flex-basis: 48%; /* Two items per row */
            }
                    .categorycards {
                        height: 200px;
                    }



}
/*SLUT Category Cards Section 3*/

/*Blog Section 3*/

/*Section 4*/

.section4 {
    background-color: #F1F2F3;
    justify-content: center;
}

        /*Form*/
        .form1 {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            width: 450px;
            background-color: #fff;
            padding: 35px;
        }
                .form1 input {
                    max-width: 100%;
                    padding: 14px;
                    font-size: 16px;
                    border: 2px solid #bbbbbb;
                    background-color: #f1f2f3;
                }
                .form1 button {
                    width: 100%;
                }

        .form1-grey {
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            width: 450px;
            background-color: #f1f2f3;
            padding: 35px;
        }
                .form1-grey input {
                    max-width: 100%;
                    padding: 14px;
                    font-size: 16px;
                    border: 2px solid #bbbbbb;
                    background-color: #fff;
                }

                .form1-grey textarea {
                    max-width: 100%;
                    padding: 14px;
                    font-size: 16px;
                    border: 2px solid #bbbbbb;
                    background-color: #fff;
                }

                .form1-grey button {
                    width: 100%;
                }
        /*SLUT form*/

/*SLUT Section 4*/

/*Subpages Hero sections*/

.subpage-hero {
    height: 20vh;
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #F1F2F3;
}

.subpage-hero h1 {
    margin: auto;
    text-align: center;
    z-index: 1;
}

.subpage-hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 50%;
    filter: blur(4px);
}


/*SLUT Subpages Hero sections*/


